a {
    color: #093261;
    text-decoration: none;
} 

.btn-primary {
    --bs-btn-bg: #093261;
}

html {
    scroll-padding-top: 4rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

h1 {
    /* text-align: center; */
    color: #003262;
    /* font-size: 2rem; */
    margin-bottom: 0.5rem;
    /* border-bottom: 3px solid #FDB515; */
    padding-bottom: 0.5rem;
}

h2 {
    color: #003262;
    /* font-size: 1.5rem; */
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* border-bottom: 2px solid #003262; */
    padding-bottom: 5px;
    /* margin-top: 30px; */
}
h3 {
    color: #333;
    margin-top: 20px;
}